.principal {
    background: #CCCCCC;
    }
    
    h1 {
    text-align: center;
    }
    
    p {
    text-align: center;
    }

    #missao {
        color: rgba(4, 110, 57, 0.815);
        font-size: 18px;
    }

    #banner {
        width: 100%;
    }

    .beneficios-titulo {
        text-align: center;
    }

    .itens {
        font-style: italic;
    }

    .beneficios {
        background: white;
    }

    ul {
        display: inline-block;
        width: 20%;
        vertical-align: top;
        margin-right: 15%;
    }

    .beneficios-imagem {
        width: 50%;
    }